.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.text {
  color: #282828;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
