.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  margin-bottom: 30px;
}

.text {
  color: #282828;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.wrapperDate {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.wrapperTime {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 5px;
}

.inputTime {
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  color: #00d7ff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}
